/* Background Color */
.bg-color {
  &--blue {
    background-color: $color-blue !important;
  }
  &--indigo {
    background-color: $color-indigo !important;
  }
  &--purple {
    background-color: $color-purple !important;
  }
  &--pink {
    background-color: $color-pink !important;
  }
  &--red {
    background-color: $color-red !important;
  }
  &--orange {
    background-color: $color-orange !important;
  }
  &--yellow {
    background-color: $color-yellow !important;
  }
  &--green {
    background-color: $color-green !important;
  }
  &--teal {
    background-color: $color-teal !important;
  }
  &--cyan {
    background-color: $color-cyan !important;
  }
  &--white {
    background-color: $color-white !important;
  }
  &--gray {
    background-color: $color-gray !important;
  }
  &--gray-dark {
    background-color: $color-gray-dark !important;
  }
  &--primary {
    background-color: $color-primary !important;
  }
  &--success {
    background-color: $color-success !important;
  }
  &--info {
    background-color: $color-info !important;
  }
  &--warning {
    background-color: $color-warning !important;
  }
  &--danger {
    background-color: $color-danger !important;
  }
  &--light {
    background-color: $color-light !important;
  }
  &--dark {
    background-color: $color-dark !important;
  }
}

/* Color */
.color {
  &--blue {
    background-color: $color-blue !important;
  }
  &--indigo {
    background-color: $color-indigo !important;
  }
  &--purple {
    background-color: $color-purple !important;
  }
  &--pink {
    background-color: $color-pink !important;
  }
  &--red {
    background-color: $color-red !important;
  }
  &--orange {
    background-color: $color-orange !important;
  }
  &--yellow {
    background-color: $color-yellow !important;
  }
  &--green {
    background-color: $color-green !important;
  }
  &--teal {
    background-color: $color-teal !important;
  }
  &--cyan {
    background-color: $color-cyan !important;
  }
  &--white {
    background-color: $color-white !important;
  }
  &--gray {
    background-color: $color-gray !important;
  }
  &--gray-dark {
    background-color: $color-gray-dark !important;
  }
  &--primary {
    background-color: $color-primary !important;
  }
  &--success {
    background-color: $color-success !important;
  }
  &--info {
    background-color: $color-info !important;
  }
  &--warning {
    background-color: $color-warning !important;
  }
  &--danger {
    background-color: $color-danger !important;
  }
  &--light {
    background-color: $color-light !important;
  }
  &--dark {
    background-color: $color-dark !important;
  }
}
