@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.main-input {
  width: 15vw;
  padding: 12px 1rem;
  height: 45px;
  border-radius: 7px;
  border: 1px solid #E3E8EF;
  margin-right: 2vw;
}

.main-btn {
  width: 128px;
  background: linear-gradient(180deg, #00C6FF -144.44%, #0072FF 233.33%);
  border-radius: 6px;
  border: none;
  height: 45px;
  color: #fff;

  &:hover {
    background: linear-gradient(180deg, #1088AA -144.44%, #0072FF 233.33%);
  }
}

.badger{
  width: 24px;
  height: 14px;
  border-radius: 1.5px;
  font-size: 8px;
  padding: 4px;
}

.badger-warning{
  background: #FFF9C7;
color: #D4A707;
}

.badger-success{
  background: #D7FFE2;
color: #54B806;
}

.badger-purple{
  background: #F2F0FE;
color: #826CFC;
}

.badger-primary{
  background: #C0E8FF;
color: #0085FF;
}

.sidebar {
  width: 25vw;
  height: 100vh;
  position: fixed;
  padding: 2rem;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);


  &-header {
    &-container {
      display: flex;
      align-items: center;
      margin-bottom: 48px;

      &-img {
        width: 62px;
        height: 62px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
      }

      &-box {
        &-name {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 8px;
        }

        &-email {
          font-size: 12px;
          font-weight: 300;
          color: #90A0B7;
        }
      }
    }

  }

  &-list {
    list-style: none;

    &-item {
      color: #334D6E;
      padding: 1rem 0;
      font-size: 13px;
      transition: .3s ease all;
      cursor: pointer;

      &:hover {
        color: #4F9BFF;
      }

      &:last-child {
        border-top: 1px solid #eee !important;
      }

      i {
        margin-right: 1rem;
      }
    }
  }
}

.main {
  position: absolute;
  width: 74vw;
  right: 0;

  .header {
    padding: 10px 27px;
    border-bottom: 1px solid #EBEFF2;
    text-align: right;

    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      &-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }

      i {
        margin-right: 8px;
      }
    }
  }

  &-content {
    padding: 2rem;

    .search {
      &-container{
        display: flex;
        justify-content: space-between;
      }
      &-header {
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }

    .tree{
      margin-top: 4rem;
      .structure{
        width: 232px;
        padding: 25px 18px;
        background: #fff;
        border-radius:11px;
        box-shadow: 0.648305px 1.94492px 7.77966px rgba(0, 0, 0, 0.03);

        &-header{
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .card {
          border:none !important;

          &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            background: #fff;
            border:none !important;

            &-text{
              font-size: 13px;
              font-weight: 500;
            }
          }

        }
      }
    }
  }

}